openapi: 3.1.0
info:
  title: Florist One REST Affiliate GiftBaskets API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 description of the Florist One REST API, derived

    from the public sample code published by Florist One at

    https://github.com/fhwsolutions/FloristOne_API and the public documentation

    at https://www.floristone.com/api/. All endpoints use HTTP Basic

    authentication with an `API Key` (username) and password issued by Florist

    One. Responses are JSON.

    '
  contact:
    name: Florist One
    url: https://www.floristone.com/api/
servers:
- url: https://www.floristone.com/api/rest
  description: Production
security:
- basicAuth: []
tags:
- name: GiftBaskets
paths:
  /giftbaskets/getproducts:
    get:
      tags:
      - GiftBaskets
      summary: Get gift basket products by category or code
      parameters:
      - name: category
        in: query
        required: false
        schema:
          type: string
      - name: code
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: start
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Json'
  /giftbaskets/gettotal:
    get:
      tags:
      - GiftBaskets
      summary: Calculate gift basket order total
      parameters:
      - name: products
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Json'
  /giftbaskets/placeorder:
    post:
      tags:
      - GiftBaskets
      summary: Place a gift basket order
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Json'
components:
  responses:
    Json:
      description: JSON response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth with API Key as username and assigned password
