openapi: 3.2.0
info:
  title: Florist One REST Shopping Cart API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 description of the Florist One REST API, derived

    from the public sample code published by Florist One at

    https://github.com/fhwsolutions/FloristOne_API and the public documentation

    at https://www.floristone.com/api/. All endpoints use HTTP Basic

    authentication with an `API Key` (username) and password issued by Florist

    One. Responses are JSON.'
  contact:
    name: Florist One
    url: https://www.floristone.com/api/
servers:
- url: https://www.floristone.com/api/rest
  description: Production
security:
- basicAuth: []
tags:
- name: Shopping Cart
paths:
  /shoppingcart:
    get:
      tags:
      - Shopping Cart
      summary: Get shopping cart contents by session id
      parameters:
      - name: sessionid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: getShoppingcart
      x-operation-id-source: derived
    post:
      tags:
      - Shopping Cart
      summary: Create cart, add to cart, remove from cart, or clear cart
      description: 'Action is determined by the `action` query parameter (e.g. `add`,

        `remove`, `clear`) or by omitting it when creating a new cart.'
      parameters:
      - name: sessionid
        in: query
        required: true
        schema:
          type: string
      - name: productcode
        in: query
        required: false
        schema:
          type: string
      - name: action
        in: query
        required: false
        schema:
          type: string
          enum:
          - add
          - remove
          - clear
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: postShoppingcart
      x-operation-id-source: derived
    delete:
      tags:
      - Shopping Cart
      summary: Destroy shopping cart for a session id
      parameters:
      - name: sessionid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: deleteShoppingcart
      x-operation-id-source: derived
components:
  responses:
    Json:
      description: JSON response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth with API Key as username and assigned password
